.container{
    background-color: lightskyblue;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: auto;
}
.app-wrapper{
    background-color: darkslategray; /* #12343b*/
    min-width: 550px;
    min-height: 540px;
    padding: 30px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #750404;
    margin-bottom: 10px;
}
.header h1{
    color: white;
    text-align: center;
    margin: 10px 0px 40px 0;
}
.form{
    outline: none;
    width: 450px;
    padding: 15px;
    margin-right: 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.753);
    background-color: black;
    margin: auto;
    border: 1px solid #c89666;
    border-radius: 10px;
}
.btns{
    width: 100px;
    padding: 15px 15px;
    margin-left: 195px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: lightcoral;
    cursor: pointer;
}
.list-item{
    display: flex;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-height: 50px;
}
.list{
    width: 280px;
    background-color: darkslategray; /* #12343b */
    border: none !important;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 40px;
}
.button-edit,
.button-delete{
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      font-size: 20px;
      border-radius: 50%;
}
.button-edit{
    color: yellow;
    margin-right: 25px;
}
.button-delete{
    color: aqua;
}


@media only screen and (max-width: 360px) {
    .container{
        background-color: lightskyblue;
        width: 82%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        margin: auto;
    }
    .app-wrapper{
        background-color: darkslategray; /* #12343b*/
        min-width: 320px;
        box-shadow: 0px 0px 10px #750404
    }
    .form{
        outline: none;
        width: 230px;
        padding: 15px;
    }
    .btns{
        width: 100px;
        margin-left: 85px;
    }
    .list{
        width: 160px;
        background-color: darkslategray; /* #12343b */
        border: none !important;
    }
}

@media only screen and (max-width: 540px) {
    .container{
        background-color: lightskyblue;
        width: 82%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        margin: auto;
    }
    .app-wrapper{
        background-color: darkslategray; /* #12343b*/
        min-width: 320px;
        box-shadow: 0px 0px 10px #750404
    }
    .form{
        outline: none;
        width: 280px;
        padding: 15px;
    }
    .btns{
        width: 100px;
        margin-left: 109px;
    }
    .list{
        width: 140px;
        background-color: darkslategray; /* #12343b */
        border: none !important;
    }
}
@media only screen and (max-width: 412px) {
    .container{
        background-color: lightskyblue;
        width: 82%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        margin: auto;
    }
    .app-wrapper{
        background-color: darkslategray; /* #12343b*/
        min-width: 320px;
        box-shadow: 0px 0px 10px #750404
    }
    .form{
        outline: none;
        width: 230px;
        padding: 15px;
    }
    .btns{
        width: 100px;
        margin-left: 85px;
    }
    .list{
        width: 160px;
        background-color: darkslategray; /* #12343b */
        border: none !important;
    }
}
@media only screen and (max-width: 414px) {
    .form{
        outline: none;
        width: 233px;
        padding: 15px;
    }
    .btns{
        width: 100px;
        margin-left: 86px;
    }
    .list{
        width: 160px;
        background-color: darkslategray; /* #12343b */
        border: none !important;
    }
}
@media only screen and (max-width: 280px) {
    .container{
        background-color: lightskyblue;
        width: 80%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        margin: auto;
    }
    .app-wrapper{
        background-color: darkslategray; /* #12343b*/
        min-width: 240px;
        box-shadow: 0px 0px 10px #750404
    }
    .form{
        outline: none;
        width: 150px;
        padding: 15px;
    }
    .btns{
        width: 100px;
        margin-left: 45px;
    }
    .list{
        width: 80px;
        background-color: darkslategray; /* #12343b */
        border: none !important;
    }
}
